<div>
    <app-header (menuToggled)="toggle()"></app-header>
    <mat-drawer-container>
      <mat-drawer mode="side" [opened]="opened">
        <mat-list>
          <ng-container *ngFor="let item of menu">
            <ng-container *ngIf="item.subMenu === undefined">
              <mat-list-item *ngIf="item.title" [routerLink]="item.link" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" >
                <mat-icon [style.color]="item.color" mat-list-icon>
                  {{ item.icon }}
                </mat-icon>
                <span mat-line class="list-item">{{ item.title }}</span>
              </mat-list-item>
            </ng-container>
            
            <ng-container *ngIf="item.subMenu?.length > 0">
              <mat-expansion-panel [expanded]="item.expanded">
                <mat-expansion-panel-header>
                  <mat-panel-title class="d-flex align-items-center">
                    <mat-icon [style.color]="item.color" mat-list-icon>
                      {{ item.icon }}
                    </mat-icon>
                    <span mat-line class="list-item">{{ item.title }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                  <mat-list-item *ngFor="let sub of item.subMenu" [routerLink]="sub.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon [style.color]="sub.color" mat-list-icon>{{ sub.icon }}</mat-icon>
                    <span mat-line class="list-item">{{ sub.title }}</span>
                  </mat-list-item>
                </mat-nav-list>
              </mat-expansion-panel>
            </ng-container>
          </ng-container>
        </mat-list>
      </mat-drawer>
  
      <mat-drawer-content [class.margin-left]="opened">
        <ng-container>
          <mat-card appearance="outlined">
            <mat-card-content class="mat-card-content">
              <div class="button-content">Dashboard</div>
              <div>
                <button mat-button [matMenuTriggerFor]="menuDropdown" (menuOpened)="isMenuOpen = true" (menuClosed)="isMenuOpen = false">
                  <span class="menu-button-content">
                    <span>{{ selectedMenu }}</span>
                    <mat-icon>{{ isMenuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
                  </span>
                </button>
          
                <mat-menu #menuDropdown="matMenu">
                  <button mat-menu-item *ngIf="selectedMenu !== 'User Dashboard'" (click)="switchMenu('User Dashboard')">User Dashboard</button>
                  <button mat-menu-item *ngIf="selectedMenu !== 'User Desktop'" (click)="switchMenu('User Desktop')">User Desktop</button>
                </mat-menu>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>