.toolbar {
    position: absolute;
    width: 100%;
    background: transparent;
    color: white;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  nav a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .banner-area {
    background-image: url('../../../../assets/img/vip_banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-text {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 12px;
  }
  
  .banner-text h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banner-text p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .action-buttons button {
    margin: 0 10px;
  }
  .title{
    font-size: 26px;
    text-transform: uppercase;
  }





  #login-container {
    display: flex;
    flex-direction: column;
    padding: 2.4em;
    width: 450px;
    position: relative;
}


.Login-btn {
    height: 3em;
    float: right;
    width: 13em;
}

.footer-sec {
    text-align: center;
}

.footer-sec a {
    text-decoration: none;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}
.login-header{
    display: flex;
    align-items:center ;
    justify-content: center;
    padding: 1.2em;
}
.login-header h2{
    font-size: 20px;
    color:dodgerblue;
    font-weight: 550;
}
.login-form-field{
    padding: 3px 0px;
}
.login-btn-group{
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  justify-content:space-between;
}