<div class="grid-layout">
  <!-- Left Side: Dashboard -->
  <div class="dashboard-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title style="cursor: pointer;" (click)="selectedQueue = ''">QUEUE LIST</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list class="mat-list">
          <mat-list-item *ngFor="let queue of queuesList" appearance="outlined" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" class="mat-list-item" (click)="navigateToQueue(queue.name)">
            <mat-icon matListIcon> {{ queue.icon }} </mat-icon>&nbsp;
            {{ queue.name }}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>
  </div>

  <!-- Right Side: Table -->
  <div class="table-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{selectedQueue == "" ? 'MY QUEUE LIST':selectedQueue | uppercase}}</mat-card-title>
      </mat-card-header>

      <ng-container [ngSwitch]="selectedQueue">
        <span *ngSwitchCase="''" class="no-selected-queqe" > No Queue Selected</span>
        <app-vip-initiator *ngSwitchCase="'VIP_Initiator'" [selectedQueueData]="selectedQueue"></app-vip-initiator>
        <app-vip-assigner *ngSwitchCase="'VIP_Assigner'"></app-vip-assigner>
        <app-vip-assignee *ngSwitchCase="'VIP_Assignee'"></app-vip-assignee>
        <app-vip-final-reply *ngSwitchCase="'VIP_Final_Reply'"></app-vip-final-reply>
      </ng-container>
    </mat-card>
  </div>
</div>

<div class="search-layout">
  <div class="dashboard-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title style="cursor: pointer;" (click)="selectedQueue = ''">SEARCH WORKITEMS</mat-card-title>
      </mat-card-header>

      <mat-card-content class="reference-form-container">
        <form [formGroup]="searchVipReference" class="reference-form">
    
          <div class="form-field">
            <div class="label-field">
              <label>Queue</label>
            </div>
              <select matNativeControl formControlName="selecteQueue">
                <option value="" disabled selected>Select Queue</option>
                <option value="so">Section Officer</option>
                <option value="us">Under Secretary</option>
                <option value="dd">Deputy Director</option>
              </select>
          </div>
      
          <div class="form-field">
            <div class="label-field">
              <label>Process</label>
            </div>
            <select matNativeControl formControlName="processName">
              <option value="" disabled selected>Select Process</option>
              <option value="so">Section Officer</option>
              <option value="us">Under Secretary</option>
              <option value="dd">Deputy Director</option>
            </select>
          </div>
      
          <div class="form-field">
            <div class="label-field">
              <label>Workshop</label>
            </div>
            
            <select matNativeControl formControlName="workshopName">
              <option value="" disabled selected>Select Designation</option>
              <option value="so">Section Officer</option>
              <option value="us">Under Secretary</option>
              <option value="dd">Deputy Director</option>
            </select>
          </div>
          <div class="form-field">
            <div class="label-field">
              <label>Variant Name</label>
            </div>
            
            <select matNativeControl formControlName="variantName">
              <option value="" disabled selected>Select State</option>
              <option value="so">Maharashtra</option>
              <option value="us">Uttar Pradesh</option>
              <option value="dd">Bihar</option>
            </select>
          </div>
          <div class="form-field">
            <div class="label-field">
              <label>Registration No</label>
            </div>
            
            <input matInput formControlName="registrationNo" class="mat-input" placeholder="Constituency">
          </div>
      
     
        </form>
      </mat-card-content>
      <div class="search-btn-group">
        <button mat-raised-button class="search-btn">Search</button>
        <span class="separator"><hr></span>
        <button mat-raised-button class="reset-btn">Reset</button>
      </div>
    </mat-card>

  </div>
</div>