<div class="grid-layout">
  <!-- Left Side: Dashboard -->
  <mat-tab-group>
    <mat-tab label="ADD REFERENCE">
      <div class="dashboard-card">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content class="reference-form-container">
            <form [formGroup]="addVipReferenceDetails">

              <div class="form-field" *ngIf="showReferencNo">
                <div class="label-field">
                  <label>Refernce No.</label>
                </div>
                <input matInput formControlName="referenceNo" class="mat-input" placeholder="Reference No.">
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Date Of Letter</label>
                </div>

                <div class="input-container">
                  <div>
                    <input matInput [matDatepicker]="picker1" formControlName="dateOfLetter" class="mat-input"
                      placeholder="Date Of Letter">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </div>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['dateOfLetter'].hasError('required') && addVipReferenceDetails.controls['dateOfLetter'].touched">
                    Please select date of letter
                  </mat-error>
                </div>
              </div>
              <div class="form-field">
                <div class="label-field">
                  <label>Date Of Receiving</label>
                </div>
                <div class="input-container">
                  <div>
                    <input matInput [matDatepicker]="picker2" formControlName="dateOfReceiving" class="mat-input"
                      placeholder="Date Of Receiving">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['dateOfReceiving'].hasError('required') && addVipReferenceDetails.controls['dateOfReceiving'].touched">
                    Please select date of receiving
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Date Of Entry</label>
                </div>
                <div class="input-container">
                  <div>
                    <input matInput [matDatepicker]="picker3" formControlName="dateOfEntry" class="mat-input"
                      placeholder="Date Of Entry">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </div>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['dateOfEntry'].hasError('required') && addVipReferenceDetails.controls['dateOfEntry'].touched">
                    Please select date of entry
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Name Of Diginitary</label>
                </div>

                <div class="input-container">
                  <input matInput formControlName="nameOfDiginitary" class="mat-input" placeholder="Name Of Diginitary">
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['nameOfDiginitary'].hasError('required') && addVipReferenceDetails.controls['nameOfDiginitary'].touched">
                    Please enter name of diginitary
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>E-Mail Id</label>
                </div>

                <div class="input-container">
                  <input matInput formControlName="emailId" class="mat-input" placeholder="E-Mail ID">
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['emailId'].hasError('required') && addVipReferenceDetails.controls['emailId'].touched">
                    Please enter email id
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Designation</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="designation">
                    <option value="" disabled selected>Select Designation</option>
                    <option *ngFor="let designation of vipDesignationList" [value]="designation.designationCode">
                      {{designation.designationName}}</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['designation'].hasError('required') && addVipReferenceDetails.controls['designation'].touched">
                    Please select designation
                  </mat-error>
                </div>
              </div>
              <div class="form-field">
                <div class="label-field">
                  <label>State</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="state">
                    <option value="" disabled selected>Select State</option>
                    <option *ngFor="let state of stateList" [value]="state.code">
                      {{state.name}}
                    </option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['state'].hasError('required') && addVipReferenceDetails.controls['state'].touched">
                    Please select state
                  </mat-error>
                </div>
              </div>
              <div class="form-field">
                <div class="label-field">
                  <label>Constituency</label>
                </div>

                <div class="input-container">
                  <input matInput formControlName="constituency" class="mat-input" placeholder="Enter Constituency">
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['constituency'].hasError('required') && addVipReferenceDetails.controls['constituency'].touched">
                    Please select constituency
                  </mat-error>
                </div>
              </div>
              <div class="form-field" *ngIf="showReferencNo">
                <div class="label-field">
                  <label>Prirority</label>
                </div>

                <div class="input-container">
                  <select matNativeControl formControlName="prirority">
                    <option value="" disabled selected>Select Prirority</option>
                    <option value="Prirority">Prirority</option>
                    <option value="Normal">Normal</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['prirority'].hasError('required') && addVipReferenceDetails.controls['prirority'].touched">
                    Please select prirority
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Category Of Subject</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="catgOfSubject">
                    <option value="" disabled selected>Select Category Of Subject</option>
                    <option value="road_widening">Request for Road Widening under BharatMala</option>
                    <option value="new_flyover">Proposal for New Flyover Construction</option>
                    <option value="pothole_repair">Urgent Pothole Repairs on Main Road</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['catgOfSubject'].hasError('required') && addVipReferenceDetails.controls['catgOfSubject'].touched">
                    Please select category of subject
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Sub-Category Of Subject</label>
                </div>

                <div class="input-container">
                  <select matNativeControl formControlName="subCatgOfSubject">
                    <option value="" disabled selected>Select Sub-Category Of Subject</option>
                    <option value="urban_road_repair">Urban Road Repair</option>
                    <option value="village_road_upgrade">Village Road Upgradation</option>
                    <option value="public_transport_route">Public Transport Route Enhancement</option>
                    <option value="pedestrian_pathway">Pedestrian Pathway Construction</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['subCatgOfSubject'].hasError('required') && addVipReferenceDetails.controls['subCatgOfSubject'].touched">
                    Please select sub-category of subject
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Subject/Issue</label>
                </div>


                <div class="input-container">
                  <textarea matInput formControlName="subjectOrIssue" rows="4"
                    placeholder="Please Specify Subject or Issue"></textarea>
                  <mat-error class="mat-error"
                    *ngIf="addVipReferenceDetails.controls['subjectOrIssue'].hasError('required') && addVipReferenceDetails.controls['subjectOrIssue'].touched">
                    Please enter subject/issues
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="btn-group">
                  <button mat-raised-button color="primary">Save</button>
                  <button mat-raised-button color="primary" (click)="addVipReferencDetails()">Submit</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Action" *ngIf="showReferencNo">
      <div class="dashboard-card">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content class="reference-form-container">
            <form [formGroup]="forwardReferenceForm">

              <div class="form-field">
                <div class="label-field">
                  <label>Routing Type</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="routingType">
                    <option value="" disabled selected>Select Routing</option>
                    <option value="single">Single</option>
                    <option value="multiple">Multiple</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['routingType'].hasError('required') && forwardReferenceForm.controls['routingType'].touched">
                    Please select routing
                  </mat-error>
                </div>
              </div>


              <div class="form-field">
                <div class="label-field">
                  <label>Action Type</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="actionType" (change)="onActionTypeChange()">
                    <option value="" disabled selected>Select Action Type</option>
                    <option *ngFor="let actionType of actionTypeOptions" [value]="actionType.value">
                      {{ actionType.label }}
                    </option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['actionType'].hasError('required') && forwardReferenceForm.controls['actionType'].touched">
                    Please select action type
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Action</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="action">
                    <option value="" disabled selected>Select Action</option>
                    <option *ngFor="let action of actionOptions" [value]="action.value">
                      {{ action.label }}
                    </option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['action'].hasError('required') && forwardReferenceForm.controls['action'].touched">
                    Please select action
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Reply Type</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="replyType">
                    <option value="" disabled selected>Select Reply Type</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                    <option value="interim">Interim</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['replyType'].hasError('required') && forwardReferenceForm.controls['replyType'].touched">
                    Please select reply type
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Organization</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="organization" (change)="selectedOrganization($event)">
                    <option value="" disabled selected>Select Organization</option>
                    <option *ngFor="let org of organizationsList" [value]="org.organizationCode">
                      {{ org.organizationCode }}
                    </option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['organization'].hasError('required') && forwardReferenceForm.controls['organization'].touched">
                    Please select organization
                  </mat-error>
                </div>
              </div>

              <!-- <div class="form-field">
                <div class="label-field">
                  <label>Office Type</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="officeType">
                    <option value="" disabled selected>Select Office Type</option>
                    <option value="MoRTH">MoRTH</option>
                    <option value="NHAI">NHAI</option>
                    <option value="NHIDCL">NHIDCL</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['officeType'].hasError('required') && forwardReferenceForm.controls['officeType'].touched">
                    Please select office type
                  </mat-error>
                </div>
              </div> -->

              <div class="form-field">
                <div class="label-field">
                  <label>Office</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="office">
                    <option value="" disabled selected>Select Office</option>
                    <option *ngFor="let office of officeTypeList" [value]="office.officeName">
                      {{office.officeName}}
                    </option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['office'].hasError('required') && forwardReferenceForm.controls['office'].touched">
                    Please select office
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Designation</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="userDesignation" (change)="getUserList()">
                    <option value="" disabled selected>Select Designation</option>
                    <option *ngFor="let designation of designationList" [value]="designation.designationCode">
                      {{ designation.designationCode }}
                    </option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['userDesignation'].hasError('required') && forwardReferenceForm.controls['userDesignation'].touched">
                    Please select designation
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>User</label>
                </div>
                <div class="input-container">
                  <select matNativeControl formControlName="userName">
                    <option value="" disabled selected>Select User</option>
                    <option *ngFor="let user of userLists" [value]="user.name">{{user.name}}</option>
                  </select>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['userName'].hasError('required') && forwardReferenceForm.controls['userName'].touched">
                    Please select user
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="label-field">
                  <label>Comment For Action</label>
                </div>


                <div class="input-container">
                  <textarea matInput formControlName="forwardComment" rows="4"
                    placeholder="Please Enter Comment"></textarea>
                  <mat-error class="mat-error"
                    *ngIf="forwardReferenceForm.controls['forwardComment'].hasError('required') && forwardReferenceForm.controls['forwardComment'].touched">
                    Please enter comment
                  </mat-error>
                </div>
              </div>

              <div class="form-field">
                <div class="btn-group">
                  <button mat-raised-button color="primary" (click)="addVipReferencDetails()">Submit</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Create Draft Reply"
      *ngIf="showReferencNo && forwardReferenceForm.get('actionType')?.value === 'final_reply'"
      style="min-height: 80vh !important;">

      <div class="dashboard-card">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content class="reference-form-container">

            <div>
              <div class="form-field">
                <div class="label-field" style="width: 350px;">
                  <label>Is reply created through template?</label>
                </div>
                <div class="input-container">
                  <select matNativeControl>
                    <option value="" disabled selected>Select</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                  </select>
                  <!-- <mat-error class="mat-error">
                    Please select routing
                  </mat-error> -->
                </div>
              </div>

              <div class="form-field">
                <div class="btn-group">
                  <button mat-raised-button color="primary" (click)="openEditor()">Open Editor</button>
                  <button mat-raised-button color="primary" (click)="uploadReply()">Upload Reply</button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Linked References" *ngIf="showReferencNo"> Content 3 </mat-tab>
    <mat-tab label="Knowledge Base" *ngIf="showReferencNo"> Content 3 </mat-tab>
  </mat-tab-group>


  <!-- Right Side: Table -->
  <div class="table-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>UPLOAD DOCUMENTS</mat-card-title>
      </mat-card-header>

      <span class="no-selected-queqe" *ngIf="!pdfSrc"> No Document Uploaded</span>
      <button type="submit" class="file-btn" (click)="openDialog()"> <mat-icon
          class="file-icon">upload</mat-icon></button>


      <ngx-extended-pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" backgroundColor="#ffffff" useBrowserLocale="true"
        [height]="'93vh'" [handTool]="true" [showHandToolButton]="true" [pageViewMode]="'single'"
        [scrollMode]="ScrollModeType.vertical">
      </ngx-extended-pdf-viewer>
    </mat-card>
  </div>
</div>