.grid-layout {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.mat-mdc-card-header {
  padding-top: 40px;
  justify-content: center;
}

.p-4 {
  padding: 20px;
}

.example-card {
  width: 100% !important;
  height: 100% !important;
}

.mat-form-field {
  display: flex;
}



.form-field {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  label {
    margin-bottom: 4px;
    font-weight: 500;
    margin-right: 100px;
  }

  input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 320px;
  }

  select {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 345px;
  }

  textarea {
    width: 345px;
  }
}

.label-field {
  width: 280px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.reference-form-container {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

::ng-deep .mat-datepicker-toggle {
  position: relative !important;
  left: -11% !important;
  top: 11% !important;
}

::ng-deep .mat-mdc-tab-header{
  width: 80% !important;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;

  .file-btn {
    width: 120px;
    height: 120px;
  }

  .file-icon {
    font-size: 48px;
    display: unset;
  }
}

.no-selected-queqe {
  display: flex;
  background-color: #bdd6f0;
  padding: 13px;
  margin: 10px;
  font-size: 14px;
  font-weight: 550;
}

.input-container{
  display: grid !important;
}
.input-container .mat-error{
  color: red;
  margin-left: 5px;
  margin-top: 8px;
}