




<div class="grid-layout">
  <!-- Left Side: Dashboard -->
  <div class="dashboard-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MY VIP DASHBOARD</mat-card-title>
      </mat-card-header>
      <mat-card-content class="canvas-chart">
        <div class="canvas-chart-container">
          <canvas #myChart id="MyChart"> </canvas>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="mat-card-footer">
          <p>Total VIP Reference :<span color="red"> 2345</span></p>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

  <!-- Right Side: Table -->
  <div class="table-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MY VIP REFERENCE LIST</mat-card-title>
      </mat-card-header>

      <div class="overflow-x-auto p-4">
        <table mat-table [dataSource]="VipReferenceData" matSort class="mat-elevation-z8 border">

          <!-- Reference Number Column -->
          <ng-container matColumnDef="referenceNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference No</th>
            <td mat-cell *matCellDef="let element">{{element.referenceNo}}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="currentQueue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Queue</th>
            <td mat-cell *matCellDef="let element">{{element.currentQueue}}</td>
          </ng-container>

          <!-- Subject Column -->
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
            <td mat-cell *matCellDef="let element">{{element.subject}}</td>
          </ng-container>

          <!-- Priority Column -->
          <ng-container matColumnDef="prirority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Prirority</th>
            <td mat-cell *matCellDef="let element">
              {{element.prirority}}
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
          </ng-container>

          <!-- Received Date Column -->
          <ng-container matColumnDef="receivedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Received Date</th>
            <td mat-cell *matCellDef="let element">{{element.receivedDate | date}}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="viewReference(element)">
                <mat-icon style="color: #3e9393;">visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="mat-elevation-z1" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
